body {

  background-color:  #90EE90;
}

header{
margin: 0 auto;
width: 64%;
}

form {
margin: auto auto 100%  auto  ;
width: 50%;
height: 100%;
border: 3px ridge gray;
background: white;
padding: 15px;
}