body {

  background-color:  #90EE90;
}

header{
margin: 0 auto;
width: 64%;
text-align: center;
}


form {
margin: auto;
width: 40%;
font-size: 175%;
line-height: 200%;
border: 3px ridge gray;
background: white;
padding: 15px;

}