body {

		background-color:  #90EE90;
}
.principal {
	width: 70%;
	margin: 0 auto;
	font-family: 'Mali', cursive;

	}
main{
	display: flex;
	flex-direction: row;


}

header{
	margin: 0 auto;
	width: 64%;
	text-align: center;
}
#sobre h1{
	text-align: center;

}
#sobre{

	width: 50%;
}
#login{
	text-align: center;
	border: 3px solid;
	width: 45%;
	background-color: white;
  height: 60%;
}
#sobre{
	padding: 20px;

}
.coluna {

  
}
